---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://photos.app.goo.gl/1eBwZ2UN9KnT2GiEA
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">강화학습을 SRC 로봇으로 쉽게 할 수 있습니다. It's great fun.</h1>
			<p class="subtext editable">RLmodel 기반 자율주행, 전기차, 센서퓨전 . 플랫폼을 찾아보세요.</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">개발하고 계신 로봇을 설명해주세요.</h2>
				<p class="editable">RLmodel HW... RLmodel is the perfect test platform.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">HW를 선택해 주세요</h2>
				<p class="editable">개발하고자 하는 로봇을 알려주세요. RLmodel 에서 도와드리겠습니다..</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">결로설정 -> go</h2>
				<p class="editable">RLmodel fantastic demo. 예제코드를 다운받으세요.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">자신만의 로봇을 찾으세요</h2>
				<p class="subtext editable">It's free, 흥미로운 자율주행, 강화학습 대모 경험을 체험해 보세요.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
